ENV{LIBINPUT_DEVICE_GROUP}=="*:py-evdev-uinput", GOTO="pykmapd_end"
SUBSYSTEM!="input", GOTO="pykmapd_end"
ENV{ID_INPUT_KEYBOARD}=="1", ENV{SYSTEMD_WANTS}+="pykmapd@%k.service", TAG+="systemd"
LABEL="pykmapd_end"
