# vim: syntax=systemd.service ts=2 sw=2 noet:
[Unit]
Description=Python-based conitional keyboard-remapping daemon w/ virtual [Fn] key
BindsTo=%i.device
WantedBy=%i.device

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/lib/pykmapd
ExecStart=/var/lib/pykmapd/pykmapd %I
StandardOutput=syslog
StandardError=syslog
Restart=no
